<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Catalog App</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse navbar-right">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Feeds <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{{url_for('catalogJSON',feed= 'categories')}}">Json - categories</a></li>
              <li><a href="{{url_for('catalogJSON',feed= 'items')}}">Json- items</a></li>
              <li><a href="{{url_for('catalogATOM')}}">Atom</a></li>
            </ul>
        </li>
        {% if userLoggedIn() %}
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Add <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{{url_for('createCategory')}}">Add Category</a></li>
              <li><a href="{{url_for('createItem')}}">Add Item</a></li>
            </ul>
        </li>
          <li><a href="/disconnect">Logout</a></li>
        {% else%}
          <li><a href="{{url_for('showLogin')}}">Login</a></li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
