
{% extends "main.html" %}

{% macro render_pagination(pagination) %}
<nav>
  <ul class="pagination pagination-sm">
    {% if pagination.has_prev %}
      {% if category %}
        <li>
            <a href="{{ url_for('showCatalog', category_name = category, page = pagination.page - 1) }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
        </li>
      {% else %}
        <li>
            <a href="{{ url_for('showCatalog', page = pagination.page - 1) }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
        </li>
      {% endif %}
    {% else %}
      <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
    {% endif %}
    {%- for page in range(1, pagination.pages +1) %}
      {% if page %}
        {% if page != pagination.page %}
          {% if category %}
            <li><a href="{{ url_for('showCatalog', category_name = category, page = page) }}">{{page}}</a></li>
          {% else %}
            <li><a href="{{ url_for('showCatalog', page = page) }}">{{ page }}</a></li>
          {% endif %}
        {% else %}
          <li class="active"><a href="#">{{ page }} <span class="sr-only">(current)</span></a></li>
        {% endif %}
      {% else %}
        <span class=ellipsis>…</span>
      {% endif %}
    {%- endfor %}
    {% if pagination.has_next %}
      {% if category %}
        <li>
            <a href="{{ url_for('showCatalog', category_name = category, page = pagination.page+1) }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
        </li>
      {% else %}
        <li>
            <a href="{{ url_for('showCatalog', page = pagination.page+1) }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
        </li>
      {% endif %}
    {% else %}
        <li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
    {% endif %}
  </ul>
</nav>
{% endmacro %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-3 sidebar">
        <div class="sidebar-module">
          <h4>Categories </h4>
          <ol class="list-unstyled">
              {% for category in categories %}
                <li>
                  <a href="{{url_for('showCatalog', category_name = category.name, page=1) }}">
                    {{category.name.title()}}
                  </a>
                  {% if userAdmin() %}
                    <a href="{{ url_for('editCategory', name = category.name) }}">
                      <span class="glyphicon glyphicon-edit"></span>
                    </a>
                  {% endif %}
                  {% if category.itemsInCategory > 0 %}
                      {% if userAdmin() %}
                        <a href="{{ url_for('deleteCategory', name = category.name) }}">
                          <span class="glyphicon glyphicon-trash"></span>
                        </a>
                      {% endif %}
                      <span class="count">{{category.itemsInCategory}}</span>
                  {% else %}
                    {% if userLoggedIn() %}
                      <a href="{{ url_for('deleteCategory', name = category.name) }}">
                        <span class="glyphicon glyphicon-trash"></span>
                      </a>
                    {% else %}
                      <span class="count">0</span>
                    {% endif %}
                  {% endif %}
                </li>
              {% endfor  %}
          </ol>
        </div>

      </div><!-- /.blog-sidebar -->

        <div class="col-sm-9 main">
          {% if category %}
            <h2 class="sub-header">{{category.title()}} Items ({{lastest.count()}} items)</h2>
          {% else %}
            <h2 class="sub-header">Lastest Items</h2>
          {% endif %}
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Category</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                {% for x in lastest %}
                  <tr class='clickable-row' data-href='{{url_for('showItem', category_name = x.category.name, item= x.id) }}'>
                    <td>{{x.name.title()}} {% if x.image %}<span class="badge"><span class="glyphicon glyphicon-picture"></span></span> {% endif %}</td>
                    <td>{{x.category.name.title()}}</td>
                    <td>$ {{'%0.2f' % x.price}}</td>
                  </tr>
                {% endfor  %}
              </tbody>
            </table>
          </div>
          {{render_pagination(pagination)}}
      </div><!-- /.main -->
    </div><!-- /.row -->

  </div><!-- /.container -->

{% endblock %}
