
{% extends "main.html" %}



{% macro render_pagination(pagination) %}
<nav>
  <ul class="pagination pagination-sm">
    {% if pagination.has_prev %}
    <li>
        <a href="{{ url_for('showCatalog', page = pagination.page - 1) }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
    </li>
    {% else %}
      <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
    {% endif %}
    {%- for page in range(1, pagination.pages +1) %}
      {% if page %}
        {% if page != pagination.page %}
        <li><a href="{{ url_for('showCatalog', page = page) }}">{{ page }}</a></li>
        {% else %}
          <li class="active"><a href="#">{{ page }} <span class="sr-only">(current)</span></a></li>
        {% endif %}
      {% else %}
        <span class=ellipsis>…</span>
      {% endif %}
    {%- endfor %}
    {% if pagination.has_next %}
      <li>
          <a href="{{ url_for('showCatalog', page = pagination.page+1) }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
      </li>
    {% else %}
        <li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
    {% endif %}
  </ul>
</nav>
{% endmacro %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-2 sidebar">
        <div class="sidebar-module">
          <h4>Categories</h4>
          <ol class="list-unstyled">
              {% for x in catalogs %}
                <li>
                  <a href="{{url_for('categoryItems', category_name = x.name, page=1) }}">
                    {{x.name.title()}}
                  </a>
                - <span class="count">{{x.item_count}}</span> </li>
              {% endfor  %}
          </ol>
        </div>

      </div><!-- /.blog-sidebar -->

        <div class="col-sm-9 main">
          {% if title %}
            <h2 class="sub-header">{{title.title()}} Items ({{lastest.count()}} items)</h2>
          {% else %}
            <h2 class="sub-header">Lastest Items</h2>
          {% endif %}
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Category</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                {% for x in lastest %}
                  <tr class='clickable-row' data-href='{{url_for('showItem', category_name = x.cat_name, item_id= x.id) }}'>
                    <td>{{x.id}}</td>
                    <td>{{x.name.title()}} {% if x.image %}  <span class="badge"><span class="glyphicon glyphicon-picture"></span></span> {% endif %}</td>
                    <td>{{x.cat_name.title()}}</td>
                    <td>$ {{'%0.2f' % x.price}}</td>
                  </tr>
                {% endfor  %}

              </tbody>
            </table>
          </div>
          {{render_pagination(pagination)}}
      </div><!-- /.main -->

    </div><!-- /.row -->

  </div><!-- /.container -->

{% endblock %}
