{% extends "main.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12 main">
        <div class="jumbotron">
            <h2>New Item</h2>
            <form action="#" method="post" enctype=multipart/form-data data-toggle="validator">
      				<div class="form-group">
                <input name=_csrf_token type=hidden value="{{ csrf_token () }}">

                <div class="form-group">
                  <div class="input-group">
                    <label for="inputName" class="control-label">Name</label>
                    <input type="text" class="form-control" id="inputName" name=name required>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputEmail">Description</label>
                  <textarea class="form-control" name="description" rows="3"></textarea>
                </div>

                <div class="form-group has-feedback">
                  <span class="sr-only" for="exampleInputAmount">Amount (in dollars)</span>
                  <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text"  pattern="^((\d{1,3}(,\d{3})+)|(\d{1,3}))(\.(\d{2})?)$" class="form-control" name="price" placeholder="Example: 1,234.56" required>
                  </div>
                  <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>

                <label for="name">Category:</label>
                <select class="form-control" name="category_id">
                  {% for x in categories %}
                      <option value ="{{x.id}}" >{{x.name.title()}}</option>
                  {% endfor %}
                </select>
                <div class="form-group">
                  <label for="exampleInputFile">File input</label>
                  <input type="file" id="exampleInputFile" name="image">
                  <p class="help-block">Size limited to 2 mb</p>
                </div>
      					<div class="padding-bottom"></div>
      					<button type="submit" class="btn btn-default" id="submit" type="submit">
      					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Create</button>
      					<a href = '{{url_for('showCatalog')}}'>
      						<button class="btn btn-default delete">
      						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
      					</a>
      				</div>
      			</form>
        </div> <!-- /jumbotron -->
      </div> <!-- /main -->
    </div> <!-- /row -->
  </div> <!-- /container -->
{% endblock %}
