{% extends "main.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12 main">
        <div class="jumbotron main">
            <h1>{{item.name.title()}}</h1>
            <p>Description: {{item.description}}</p>
            {% if item.edited_At %}
              <p>Edited at: {{item.edited_At}}</p>
            {% else %}
              <p>Create at: {{item.create_At}}</p>
            {% endif %}
            <p>
              Category:
              <a href="{{url_for('categoryItems', category_name = item.cat_name) }}">
                {{item.cat_name.title()}}
              </a>
            </p>
            <img src="{{item.image}}" alt="" />
            "{{item.image}}"
            <p>
              <a href="{{url_for('editItem', category_name = item.cat_name, item_id = item.id) }}">
              Edit</a> |
              <a href="{{url_for('deleteItem', category_name = item.cat_name, item_id = item.id) }}">
              Delete</a>
              </p>
        </div> <!-- /jumbotron -->
      </div> <!-- /main -->
    </div> <!-- /row -->
  </div> <!-- /container -->
{% endblock %}
