{% extends "main.html" %}

{% block content %}
  <div class="container">
    <div class="row main">
      <div class="col-sm-12">
        <div class="jumbotron">
            <h1>{{item.name.title()}}</h1>
            <p>Description: {{item.description}}</p>
            <div class="row">
              <div class="col-md-6">
                {% if item.edited_At != item.create_At %}
                  <p>Edited at: {{item.edited_At}}</p>
                {% else %}
                  <p>Create at: {{item.create_At}}</p>
                {% endif %}
                <p>
                  Post by: {{item.user.name.title() if item.user.name.title() else item.user.email.title().split('@')[0]}}
                </p>
                <p>
                  Category:
                  <a href="{{url_for('showCatalog', category_name = item.category.name, page=1) }}">
                    {{item.category.name.title()}}
                  </a>
                </p>
              </div>
              <div class="col-md-6 ">
                {% if item.image %}
                  <img data-src="holder.js/140x140"
                       class="img-rounded" alt="140x140"
                       src="{{url_for('uploaded_file', filename=item.image.split('/')[6])}}"
                       data-holder-rendered="true"
                       style="width: 280px; height: 280px;">
                {% endif %}
              </div>
            </div>
            {% if matchUser(item.user.email) %}
              <p>
                <a href="{{url_for('editItem', category_name = item.category.name, item = item.id) }}">
                  <button class="btn btn-primary delete">Edit</button>
                </a>
                <a href="{{url_for('deleteItem', category_name = item.category.name, item = item.id) }}">
                  <button class="btn btn-primary delete">Delete</button>
                </a>
              </p>
            {% endif %}
        </div> <!-- /jumbotron -->
      </div> <!-- /main -->
    </div> <!-- /row -->
  </div> <!-- /container -->
{% endblock %}
