{% extends "main.html" %}

{% block content %}
  <div class="container">
    <div class="row main">
      <div class="col-sm-12">
        <div class="jumbotron">
            <h1>{{item.name.title()}}</h1>
            <p>Description: {{item.description}}</p>
            {% if item.edited_At != item.create_At %}
              <p>Edited at: {{item.edited_At}}</p>
            {% else %}
              <p>Create at: {{item.create_At}}</p>
            {% endif %}
            <p>
              Post by: {{item.user.name.title() if item.user.name.title() else item.user.email.title().split('@')[0]}}
            </p>
            <p>
              Category:
              <a href="{{url_for('showCatalog', category_name = item.category.name, page=1) }}">
                {{item.category.name.title()}}
              </a>
            </p>
            {% if item.image %}
              <img src="{{url_for('uploaded_file', filename=item.image.split('/')[1])}}" alt="" height="400" width="400"/>
            {% endif %}
            {% if matchUser(item.user.email) %}
            <p>
              <a href="{{url_for('editItem', category_name = item.category.name, item = item.id) }}">
                <button class="btn btn-primary delete">Edit</button>
              </a>
              <a href="{{url_for('deleteItem', category_name = item.category.name, item = item.id) }}">
                <button class="btn btn-primary delete">Delete</button>
              </a>
            </p>
            {% endif %}
        </div> <!-- /jumbotron -->
      </div> <!-- /main -->
    </div> <!-- /row -->
  </div> <!-- /container -->
{% endblock %}
